<head>
    <title>Ejemplo 2</title>
    <style>
        section,article,aside,footer,header,nav,hgroup{
            display: block;
        }
    </style>
</head>
<body>
    <header>
        <h1>Some fuctional company website</h1>
        <nav>
            <a href="Home.html">Document Structure</a>
            <a href="Blog.html">Writing code</a>
            <a href="About.html">Styles</a>
        </nav>
    </header>
    <main>
        <article>
            <header>
                <hgroup>
                    <h1>Our first  new article</h1>
                </hgroup>
            </header>
            <section>
                <h1>Section 1</h1>
                <p>Some datils about section 1</p>
                <aside>Didyou know that 7/10 is 70%</aside>
            </section>
            <section>
                <h1>Section 2</h1>
            </section>
        </article>
        <article>
            <header>
                <hgroup>
                    <h1>Secunt huge article</h1>
                </hgroup>
            </header>
            <p>Provide some useful information in the article</p>
        </article>
        <article>
            <header>
                <hgroup>
                    <h1>Thirt huge article</h1>
                </hgroup>
            </header>
            <p>Provide some usefulinformation in the third article</p>
            <figure>
                <img src="orange.jpg" alt="" style="width: 50px; height: 50px;">
                <figcaption>Fig 1: A really jucy orange.</figcaption>
            </figure>
        </article>
        <article>
            <p>Our goal is to have 1000 user:</p>
            <span>0</span>
            <progress value="50" max="1000"></progress>
            <span>1000</span>
        </article>
        <article>
            <blockquote>
                <h1>Titula a remarcar</h1>
                <p>Contenido a remarcar</p>
            </blockquote>
        </article>
    </main>
    <script></script>
</body>